@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&family=Rancho&display=swap');
:root{
	--bgHeader: #f1eeec;
	--bgContent: #FFB830;
	--fontColor: #222;
	--fontLogo: 'Kalam', cursive;
	--fontNav:  'Rancho', cursive;
}

*{
	margin: 0;
	padding: 0;
}
body{
	overflow-x: hidden ;
}
.container{
	width: 100vw;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 60px 1.5fr 1.5fr 50px;
    
}
.header{
	background-color: var(--bgHeader);
	grid-column-start: 1;
	grid-column-end: -1;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	border-bottom: 3px solid black;
}
.logo{
	font-family: var(--fontLogo);
	background: var(--bgContent);
	font-size: 1.3em;
	padding: 5px;
	border: 2px solid black;
	border-radius: 5px;
	box-sizing: border-box;
	
}
.header ul{
	font-size: 1.3em;
	font-family: var(--fontNav);
	font-weight: bold;
	height: 100%;
	display: flex;
	justify-content: end;
	align-items: center;
	list-style: none;
	position: relative;
}
.header ul li{
	padding: 10px;
	margin-left: 20px;
}
.header ul li a{
	text-decoration: none;
	color: var(--fontColor);
}
.content{
	background-color: var(--bgContent);
	grid-row-start: 2;
	grid-row-end: 4;
	grid-column-start: 1;
	grid-column-end: -1;
}
.content .intro{
	width: 100%;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(5, 300px );
     grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
}
.content .intro img.sitting{
	grid-column-start: 4;
	grid-column-end: 5;
	margin-top: 100px;
	transform: scaleX(-1);
}
.footer{
	background-color: #0F0F2D;
	grid-column-start: 1;
	grid-column-end: -1;
}
.typing{
	grid-column-start: 2;
	display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
	height: 60%;
    margin-top: 50px;
	border: 3px solid black;
	position: relative;
	top: 25%;
	padding-top: 100px;
	box-sizing: border-box;
	border-radius: 10px;
	background-color: #f3cb80;
	font-family: var(--fontNav);
	letter-spacing: .03em;
}
.typing::after, .typing::before{
	content: '';
	display: block;
	position: absolute;
	background-color: white;
	height: 20px;
	width: 20px;
	border-radius: 20px;
	top: 5%;
}
.typing::after{
	left: 5%;
}
.typing::before{
	right: 5%;
}
.typing h1{
	margin-top: -100px;
}
.typing p{
	font-size: 22px;
	font-style: bold;
	margin-top: 10px;
}
.typing span{
	font-size: 25px;
	font-style: bold;
	left: 30%;
	margin-top: 10px;
}
.typing .contact-btn{
	margin-top: 10px;
	width: 40%;
	height:35px;
	border-radius: 5px;
	border: 2.5px solid black;
	background-color: #e0b970 ;
	text-align: center;
	line-height: 35px;
	position: relative;
	cursor: pointer;
}
.contact-btn::before, .contact-btn::after{
	content: '';
	display: block;
	width: 5px;
	height: 5px;
	border-radius: 10px;
	background-color: white;
	position: absolute;
}
.contact-btn::before{
	top: 3px;
	left: 5%;
}
.contact-btn::after{
	top: 3px;
	right: 5%;
}
.soc-icon{
	display: flex;
	flex-direction: column;
	justify-content: center;
    margin-top: 80px;
}
.icon{
	margin-left: 10px;
	width: 35px;
}
.icon-tw{
	margin: 25px 0 25px 10px;
}
@media only screen and (max-width: 1100px) {
    .container{
        grid-template-rows: 100px 1.5fr 1.5fr 50px;
    }
    .header{
        flex-direction: column;
        padding-top: 15px;
    }
    .intro{
        justify-content: center;
    }
    .content .intro img.sitting{
        margin-top: 40px;
        grid-column-start: 1;
        grid-row-start: 1;
        justify-self: center;
    }
    .intro .soc-icon{
        grid-column-start: 1;
        grid-row-start: 3;
        flex-direction: row;
        justify-self: center;
    }
    .icon{
        margin: 0 25px 0 25px;
        margin-top: -160px;
        width: 50px;
    }
  
    .intro .typing{
        margin-top: -160px;
        grid-column-start: 1;
        grid-row-start: 3;
        height: 70%;
    }


}